<div class="container">
    <div class="jumbotron border">
      <h2 class="text title text-center"><strong>PERFIL</strong></h2>
    </div> 
      <div class=" mb-3">
        <label class="text" for="firstName"><strong>NOMBRE</strong></label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="nombre" [(ngModel)]="dataUser.nombre" placeholder="">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary material-icons" (click)="modificarNombre()" type="button" data-toggle="modal"
              data-target="#ModifyName">create</button>
          </div>
        </div>
      </div>
     
  
    <div class="mb-3">
      <label class="text" for="email"><strong>NOMBRE DE USUARIO</strong></label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" name="nombreUsuario" [(ngModel)]="dataUser.username" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="text" for="country"><strong>DIRECCION</strong></label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="direccion" [(ngModel)]="dataUser.direccion">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary material-icons"  (click)="modificarDireccion()" type="button" data-toggle="modal"
              data-target="#ModifyAddress">create</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="text" for="Phone"><strong>TELEFONO</strong></label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="dataUser.telefono">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary material-icons" (click)="modificarTelefono()" type="button" data-toggle="modal"
              data-target="#ModifyPhone">create</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mx-auto">
        <p class="text-center decore btn text-color" data-toggle="modal" (click)="eliminar()" data-target="#DeleteAccount">Quieres eliminar tu cuenta?
        </p>
      </div>
    </div>
    