<br>
<div class="container">
  <h1 class="title text text-center"><strong>RESERVA</strong></h1>
  <form #Confirm=ngForm (ngSubmit)="reserve()">
    <div class="row">
      <div class="col-md-6">
        <label class="text" for="e"><strong>PARQUEO</strong></label>
        <select name="parqueo" [(ngModel)]="confirmar.parqueo" class="custom-select my-1 mr-sm-2" required>
          <option></option>
          <option value="{{p.id_parqueo}}" *ngFor="let p of parqueos">{{p.id_parqueo}} {{p.nombre}}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="text" for="id"><strong>VEHICULO</strong></label>
        <select name="vehiculo" [(ngModel)]="confirmar.vehiculo" class="custom-select my-1 mr-sm-2" required>
          <option></option>
          <option value="{{v.placa}}" *ngFor="let v of vehiculos">{{v.placa}} {{v.marca}}</option>
        </select>
      </div>
    </div>
  </form>
  <div *ngIf="Confirm.valid">
    <br><br>
    <form #FormReserva=ngForm (ngSubmit)="confirmarR()">
      <div class="row">
        <div class="col-6">
          <label class="text" for="e"><strong>DIA DE RESERVA</strong></label>
          <div class="form-group">
            <div class="input-group my-xl-4 my-sm-1">
              <input class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="reservas.fechaReserva"
                required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <i class="material-icons">date_range</i></button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-6">
          <div class="mr-auto">
            <div class=row>
              <div class="col-6 ml-auto">
                <label class="text">Desde</label>
                <ngb-timepicker name="start" [(ngModel)]="reservas.horaInicio" required></ngb-timepicker>
              </div>
              <div class="col-6 mr-auto">
                <label class="text">Hasta</label>
                <ngb-timepicker name="end" [(ngModel)]="reservas.horaFinal" required></ngb-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="text" for="e"><strong>TIPO</strong></label>
          <select name="sede" [(ngModel)]="confirmar.tipo_espacio" class="custom-select my-1 mr-sm-2">
              <option selected disabled>...</option>
              <option value="regular" requered>Regular</option>
              <option value="especial" requered>Especial</option>
          </select>
      </div>
      </div>
      <div class="text-center">
        <button type="submit" id="OpenModal" *ngIf="reservas.fechaReserva!=null" class="btn btn-outline-primary"
          data-toggle="modal" data-target=".bd-example-modal-xl2"><strong>SELECCIONAR ESPACIO</strong></button>
      </div>
    </form>
    <br><br>
    <div *ngIf="estadoEspacio">
      <div class="modal fade bd-example-modal-xl2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ESPACES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeM">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-responsive">
                <div class="table-responsive">
                  <table class="table table-borderless table-sm">
                    <thead>
                      <tr>
                        <th scope="col">IDESPACIO</th>
                        <th scope="col">TIPO</th>
                        <th scope="col">SELECCIONAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let s of espacios">
                        <td>
                          <input type="text" class="form-control" disabled [(ngModel)]="s.id_espacio">
                        </td>
                        <td>
                          <input type="text" class="form-control" disabled [(ngModel)]="s.tipo_espacio">
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-primary"
                            (click)="seleccionarEspacio(s)"><strong>SELECCIONAR</strong></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <label>Espacio: {{espacio.id_espacio}}</label>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <button type="submit" [disabled]="espacio.id_espacio==null" (click)="reservar()"
      class="btn btn-outline-primary btn-block"><strong>AGREGAR RESERVA</strong></button>
  </div>
  <br><br>
  <h3 class="text-center">RESERVAS</h3>
  <div class="table-responsive">
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">DIA</th>
          <th scope="col">HORA INICIO</th>
          <th scope="col">HORA FINAL</th>
          <th scope="col">ESPACIO</th>
          <th scope="col">VEHICULO</th>
          <th scope="col">ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of res">
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.id_reserva">
          </td>
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.fecha_reserva">
          </td>
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.hora_inicio">
          </td>
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.hora_final">
          </td>
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.espacio">
          </td>
          <td>
            <input type="text" class="form-control" disabled [(ngModel)]="s.placa">
          </td>
          <td>
            <button type="button" class="btn btn-danger"
              (click)="eliminarReserva(s)"><strong>ELIMINAR</strong></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>