<div class="container">
    <!--ADMIN USERES !!!!-->
    <div class="adminUser">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="text-center">USER ADMINISTRATION</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10">
          <h3 class="">USUARIOS</h3>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn1 btn-primary">
            <strong>AGREGAR USUARIOS</strong>
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" name="filterUsers" placeholder="Search..." >
          </div>
        </div>
      </div>
      <table class="table table-hover table-responsive">
        <thead class="thead">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NAME</th>
            <th scope="col">ADMIN</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
          </tr>
        </tbody>
      </table>
    </div>
    <!--FIN ADMIN USERES !!!!-->
    <hr>
    <!--ADMIN HEADQUARTERS !!!!-->
    <div class="adminHeadquarters">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="text-center">SEDES</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10">
          <h3 class="">SEDES</h3>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn1 btn-primary">
            <strong>AGREGAR SEDES</strong>
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" name="filterSedes" placeholder="Search..." >
          </div>
        </div>
      </div>
      <table class="table table-hover table-responsive">
        <thead  class="thead">
          <tr>
            <th scope="col">IDSEDE</th>
            <th scope="col">NAME</th>
            <th scope="col">PROVINCE</th>
            <th scope="col">CITY</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">MODIFY</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
          </tr>
        </tbody>
      </table>
    </div>
    <!--FIN ADMIN HEADQUARTERS !!!!-->
    <!--PARKING LOT-->
    <div class="adminParking">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="text-center">PARQUEOS</h1>
        </div>
    </div>
      <br>
      <div class="row">
        <div class="col-md-10">
          <h3 class="">PARQUEOS</h3>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn1 btn-primary">
            <strong>AGREGAR PARQUEOS</strong>
          </button>
        </div>
      </div>
      <br>
      <table class="table table-hover table-responsive">
        <thead  class="thead">
          <tr>
            <th scope="col">IDPARKING</th>
            <th scope="col">NAME</th>
            <th scope="col">PLACE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">HEADQUARTERS</th>
            <th scope="col">SPACES</th>
            <th scope="col">MODIFY</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tr >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br>